<div class="container">
    <div class="col-xs-12 sec">
        <h2 class="r-header">Give A Nickel</h2>
        <form action="your-server-side-code" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_H9hNa9Si6CiQ1eDg7cRJOqDm"
              data-amount="999"
              data-zip-code="true"
              data-name="Demo Site"
              data-description="Example charge"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto">
            </script>
          </form>
    </div>
</div>
